<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="skid_steer_drive">
      <update_rate>100.0</update_rate>
      <robot_namespace>/</robot_namespace>

      <num_wheel_pairs>2</num_wheel_pairs>
      <!-- wheels0-->
      <left_joint>left_wheel_front_joint</left_joint>
      <right_joint>right_wheel_front_joint</right_joint>

      <!-- wheels1-->
      <left_joint>left_wheel_back_joint</left_joint>
      <right_joint>right_wheel_back_joint</right_joint>

       <!-- kinematics -->
      <wheel_separation>0.3750</wheel_separation>
      <wheel_separation>0.3750</wheel_separation>

      <wheel_diameter>0.2</wheel_diameter>
      <wheel_diameter>0.2</wheel_diameter>

      <!-- limits -->
      <max_wheel_torque>20</max_wheel_torque>
      <MaxForce>5.0</MaxForce>
      
      <topic_name>cmd_vel</topic_name>
      <broadcast_tf>true</broadcast_tf>

      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

    </plugin>
  </gazebo>
</robot>